div.footer {
  font-family: "Roboto", sans-serif;
  margin: 5% 5% 0 5%;
  color: #333;
  position: relative;
  left: 0;
  right: 0;
}
div.footer > * {
  font-size: 14px;
}
@media (orientation: portrait) {
  div.footer {
    height: 30px;
  }
  div.footer > * {
    font-size: 10px;
  }
}
