.home {
  font-family: "Roboto", sans-serif;
  color: #222;
  min-height: 600px;
  box-shadow: 1px 1px 8px #888888;
  max-width: 70vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
}

h2 {
  margin-top: 10%;
}
p {
  text-align: center;
  margin: 3% 13% 0 13%;
  line-height: 1.5;
}
.contact {
  padding: 5%;
}
.contact > * {
  width: 100%;
}
.contact a {
  display: block;
  color: #222;
  text-decoration: none;
  text-align: left;
  margin: 1%;
  margin-left: 20%;
  line-height: 2;
}
.contact i {
  font-size: 1.5em;
}
.contact a:hover,
.contact i:hover {
  font-weight: bold;
}
@media (orientation: portrait) {
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}

@media (min-width: 730px) {
  p {
    font-size: 18px;
    line-height: 1.7;
  }
}
@media (max-width: 568px) {
  .home {
    max-width: 90vw;
  }
  .contact a {
    margin-left: 5%;
  }
}
