.home {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  min-height: 600px;
}

h2 {
  margin-top: 10%;
}
p {
  text-align: center;
  margin: 3% 13% 0 13%;
  line-height: 1.5;
}

@media (orientation: portrait) {
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}

@media (min-width: 730px) {
  p {
    font-size: 18px;
    line-height: 1.7;
  }
}
