.form-wrapper {
  display: flex;
  margin-top: 5%;
  padding: 5%;
  box-shadow: 1px 1px 8px #888888;
  max-width: 70vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Roboto", sans-serif;
}
h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
form {
  width: 90%;
  position: relative;
  top: 8vh;
  text-align: left;
}
label {
  margin-left: 4%;
  width: 90%;
}
input {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-bottom: 1px solid #888888;
  width: 90%;
  padding-bottom: 3%;
  margin-bottom: 10%;
  line-height: 2;
}
@media (min-width: 320px) and (orientation: portrait) {
  .form-wrapper {
    max-width: 90vw;
  }
}
@media (min-width: 1024px) {
  .form-wrapper {
    max-width: 30vw;
    display: flex;
  }
  form {
    width: 100%;
  }
}

button.login_btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 25%;
  margin-bottom: 18%;
  max-width: 50vw;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
